.one{
color: black;
background-color: blueviolet;
font-size: 28px;
}

.two{
color: brown;
background-color: aqua;
font-size: 28px;
}

.three{
color: blue;
background-color: black;
font-size: 28px;
}

